<section class="auth">
  <h1>Авторизация</h1>

  <p>Ваш логин: {{ login }}</p>

  <!-- ЛОГИН -->
  <div class="form-row">
    <input
      placeholder="Логин"
      [(ngModel)]="login"
      name="login"
      required
      minlength="3"
      #loginCtrl="ngModel"
      [ngClass]="{ 'input-error': loginCtrl.invalid && loginCtrl.touched }"
    />

    <div class="error" *ngIf="loginCtrl.touched && loginCtrl.hasError('required')">
      Укажите логин
    </div>

    <div class="error" *ngIf="loginCtrl.touched && loginCtrl.hasError('minlength')">
      Минимум 3 символа
    </div>
  </div>

  <!-- ПАРОЛЬ -->
  <div class="form-row">
    <input
      type="password"
      placeholder="Пароль"
      [(ngModel)]="password"
      name="password"
      required
      minlength="6"
      #passwordCtrl="ngModel"
      [ngClass]="{ 'input-error': passwordCtrl.invalid && passwordCtrl.touched }"
    />

    <div class="error" *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
      Укажите пароль
    </div>

    <div class="error" *ngIf="passwordCtrl.touched && passwordCtrl.hasError('minlength')">
      Минимум 6 символов
    </div>
  </div>
  <div class="mt-3">
    <mat-checkbox [disableRipple]="saveInStore" [(ngModel)]="saveInStore">Сохранить</mat-checkbox>
  </div>

  <!-- КНОПКА -->
  <button
    class="btn primary"
    mat-flat-button
    (click)="onAuth($event)"
    [disabled]="loginCtrl.invalid || passwordCtrl.invalid"
  >
    Авторизация
  </button>
</section>