<div class="layout-header">

  <!-- ЛЕВАЯ ЧАСТЬ = только меню -->
  <div class="left-block">
    <app-menu [items]="menuItems"></app-menu>
  </div>

  <!-- ПРАВАЯ ЧАСТЬ = время, выход, Гость -->
  <div class="right-block">

    <div class="time-wrap">
      {{ date | date: "HH:mm:ss EEEE" }}
    </div>

    <button mat-button color="warn" (click)="logout()">
      Выйти
    </button>

    <div class="user-name">
      {{ user?.login || 'Гость' }}
    </div>

      <button mat-icon-button routerLink="/cart" class="cart-btn">
         <mat-icon>shopping_cart</mat-icon>
            @if ((basketStore$ | async)?.length; as count) {
           <span class="badge">{{ count }}</span>
  }
     </button>

  </div>

</div>