@use "variables";

:host {
  height: 60px;
  width: 100%;
  display: block;
}

.layout-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  background: var(--header-background);
  color: #fff;
  
}