.masonry {
  column-count: 4;
  column-gap: 20px;
  width: 100%;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 20px;
}


.tour-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}

.tour-item img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}

mat-card-title {
  font-size: 13px;
  font-weight: 600;
}

mat-card-subtitle {
  font-size: 11px;
}


/* --- СВЁРНУТОЕ ОПИСАНИЕ --- */

p.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 11px;
  line-height: 1.25;
  margin: 0 0 12px;
}


/* --- КНОПКА Показать больше / Скрыть --- */

.toggle-btn {
  background: none;
  border: none;
  padding: 0;
  color: #0077cc;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
  margin-top: -6px;
  margin-bottom: 8px;

  &:hover {
    text-decoration: underline;
  }
}



.footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 12px;
}

.price {
  font-size: 14px;
  color: #0099cc;
  font-weight: 700;
}

.details-btn {
  font-size: 12px;
  padding: 4px 8px;
  color: #0077cc;

  &:hover {
    text-decoration: underline;
  }
}
/* --- АДАПТИВ --- */

@media (max-width: 900px) {
  .masonry {
    column-count: 2;
  }

  .tour-item img {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .masonry {
    column-count: 1;
  }

  .tour-item img {
    height: 130px;
  }
}
