.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.tour-item {
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}


.tour-item img {
  height: 160px;       
  object-fit: cover;
  width: 100%;
}


.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}


mat-card-title {
  font-size: 13px !important;
  font-weight: 600;
}

mat-card-subtitle {
  font-size: 11px !important;
}

.card-content p {
  flex: 1;
  font-size: 11px !important;
  line-height: 1.25;
  margin: 0 0 12px;
}


.footer {
  margin-top: auto;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.price {
  font-size: 14px;
  color: #0099cc;
  font-weight: 700;
}

/* Адаптив */
@media (max-width: 900px) {
  .tour-item {
    width: calc(50% - 20px);
  }

  .tour-item img {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .tour-item {
    width: 100%;
  }

  .tour-item img {
    height: 130px;
  }
}