<div class="d-flex flex-wrap">

  @for (item of tours; track $index) {
    <mat-card class="tour-item">

      <img mat-card-image src="/img/{{ item.img }}" />

      <mat-card-content class="card-content">
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.tourOperator }}</mat-card-subtitle>

        <p>{{ item.description }}</p>

        <div class="footer">
          <span class="price">{{ item.price }}</span>
        </div>
      </mat-card-content>

    </mat-card>
  }

</div>