<div class="input-search-masonry">
  <div class="search-wrapper">
  <mat-form-field>
    <input #inputSearch matInput placeholder="Поиск..." >
  </mat-form-field>
  <div class="search-icon-container">
      <mat-icon>search</mat-icon>
    </div>
</div>
</div>

<div *ngIf="noResults" class="no-results">
  Не найдено данных
</div>

<div class="masonry-container" *ngIf="tours?.length">

  <div
    class="masonry"
    appHighlightActive
    #hightLightDirective
    [sort]="sort"
    [initFirst]="true"
    [selector]="'.tour-item'"
    (onEnter)="goToTour(tours[$event.index])"
  >


    <ngx-masonry>
      @for (item of tours; track item.id; let i = $index) {

        <div ngxMasonryItem class="masonry-item" [attr.index]="i">

          <mat-card class="tour-item" appearance="outlined">

            <img mat-card-image src="/img/{{ item.img }}">

            <mat-card-content class="card-content">

              <mat-card-title>{{ item.name }}</mat-card-title>
              <mat-card-subtitle>{{ item.tourOperator }}</mat-card-subtitle>

              <p>{{ item.date | date: 'dd.MM.YYYY' }}</p>

              <div (click)="showMap(item, $event, item.country?.iso_code2)" class="country-info">
                страна: {{ item.country?.name_ru }}
              <img class="flag" [src]="item.country?.flag_url">
              </div>

              <p [class.collapsed]="!item.expanded">
                {{ item.description }}
              </p>

              <button
                mat-button
                class="toggle-btn"
                (click)="item.expanded = !item.expanded"
              >
                {{ item.expanded ? 'Скрыть' : 'Показать больше' }}
              </button>

     <div class="basket my-2 ml-2">
  @if (!isInBasket(item)) {
    <i (click)="setItemToBasket($event, item)" class="pi pi-cart-plus"
       style="color: green; cursor: pointer; font-size: 1.5rem;"></i>
  }
  @else {
    <i (click)="removeItemFromBasket($event, item)" class="pi pi-cart-minus"
       style="color: red; cursor: pointer; font-size: 1.5rem;"></i>
  }
</div>
           


              <div class="footer">
                <span class="price">{{ item.price }}</span>

                <button
                  mat-button
                  class="details-btn" (click)="goToTour(item)"> Подробно </button>
              </div>

            </mat-card-content>
          </mat-card>

        </div>

      }
    </ngx-masonry>

  </div>
</div>

<nz-modal

      nzDraggable
      nzCentered
      (nzOnCancel)="showModal=false"
      (nzOnOk)="showModal=false"
      [(nzVisible)]="showModal"
      [nzTitle]="mapCountryName"     
    >
      <ng-container *nzModalContent>
        
        @if (weatherData) {
          <p>Погода: {{ weatherData.currentWeather }}°C</p>
          <p *ngIf = "weatherData.rain > 0">Дождь: {{ weatherData.rain }}</p>
          <p *ngIf = "weatherData.snowfall > 0">Снег: {{ weatherData.snowfall }}</p>
                
        }
        
    <app-map [location]="location"></app-map>


      </ng-container>
    </nz-modal>