.aside {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 8px;
}

/* Общий стиль для полей */
mat-form-field {
  width: 100%;
  --mdc-filled-text-field-container-color: #f3f4f6; /* светло-серый фон */
  --mdc-filled-text-field-focus-active-indicator-color: #3b82f6; /* синий акцент */
  --mdc-filled-text-field-hover-active-indicator-color: #3b82f6;
  --mdc-filled-text-field-active-indicator-color: #3b82f6;

  border-radius: 12px !important;
}

/* Лейбл */
mat-label {
  font-size: 14px;
  font-weight: 600;
  color: #374151; /* тёмно-серый */
}

/* Текст */
mat-select,
input[matInput] {
  font-size: 15px;
  font-weight: 500;
  color: #111827; /* почти чёрный */
}

/* Иконка календаря */
mat-datepicker-toggle {
  color: #3b82f6; /* синий акцент */
}

/* Опции в select */
mat-option {
  font-size: 15px;
  padding: 12px 16px !important;
  border-radius: 6px;
}

mat-option:hover {
  background: #e5e7eb !important; /* мягкий серый hover */
}

/* Hover эффект поля */
mat-form-field:hover {
  --mdc-filled-text-field-container-color: #e9eaed;
}

/* Активное состояние */
.mat-mdc-form-field-focus-overlay {
  background: rgba(59, 130, 246, 0.1) !important;
}
