<div class="register">
  <h1>Регистрация</h1>

  <p>Ваш логин: {{ login }}</p>

  <!-- ЛОГИН -->
  <div class="form-row">
    <input
      placeholder="Логин"
      name="login"
      [(ngModel)]="login"
      required
      minlength="3"
      #loginCtrl="ngModel"
      [ngClass]="{ 'input-error': loginCtrl.invalid && loginCtrl.touched }"
    />

    <div class="error" *ngIf="loginCtrl.touched && loginCtrl.hasError('required')">
      Укажите логин
    </div>

    <div class="error" *ngIf="loginCtrl.touched && loginCtrl.hasError('minlength')">
      Минимум 3 символа
    </div>
  </div>

  <!-- ПОЧТА -->
  <div class="form-row">
    <input
      type="email"
      placeholder="Почта"
      name="email"
      [(ngModel)]="email"
      required
      email
      #emailCtrl="ngModel"
      [ngClass]="{ 'input-error': emailCtrl.invalid && emailCtrl.touched }"
    />

    <div class="error" *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
      Укажите почту
    </div>

    <div class="error" *ngIf="emailCtrl.touched && emailCtrl.hasError('email')">
      Некорректный email
    </div>
  </div>

  <!-- ПАРОЛЬ -->
  <div class="form-row">
    <input
      type="password"
      placeholder="Пароль"
      name="password"
      [(ngModel)]="password"
      required
      minlength="6"
      #passwordCtrl="ngModel"
      [ngClass]="{ 'input-error': passwordCtrl.invalid && passwordCtrl.touched }"
    />

    <div class="error" *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
      Укажите пароль
    </div>

    <div class="error" *ngIf="passwordCtrl.touched && passwordCtrl.hasError('minlength')">
      Минимум 6 символов
    </div>
  </div>

  <!-- ПОВТОР ПАРОЛЯ -->
  <div class="form-row">
    <input
      type="password"
      placeholder="Повтор пароля"
      name="passwordRepeat"
      [(ngModel)]="passwordRepeat"
      required
      minlength="6"
      #passwordRepeatCtrl="ngModel"
      [ngClass]="{
        'input-error':
          (passwordRepeatCtrl.touched && passwordRepeatCtrl.invalid) ||
          (passwordRepeatCtrl.touched && passwordRepeat !== password)
      }"
    />

    <div class="error" *ngIf="passwordRepeatCtrl.touched && passwordRepeatCtrl.hasError('required')">
      Повторите пароль
    </div>

    <div class="error" *ngIf="passwordRepeatCtrl.touched && passwordRepeatCtrl.hasError('minlength')">
      Минимум 6 символов
    </div>

    <div class="error" *ngIf="passwordRepeatCtrl.touched && passwordRepeat !== password">
      Пароли не совпадают
    </div>
  </div>

  <!-- КНОПКА -->
  <button
    class="btn primary"
    mat-flat-button
    (click)="onRegister($event)"
    [disabled]="
      loginCtrl.invalid ||
      emailCtrl.invalid ||
      passwordCtrl.invalid ||
      passwordRepeatCtrl.invalid ||
      password !== passwordRepeat
    "
  >
    Зарегистрироваться
  </button>
</div>