<div class="order-container">
  <div class="order-card">

    <div class="order-header">
      <a routerLink="/tours" class="back-link">
        <i class="pi pi-arrow-left"></i> Назад к турам
      </a>
      <h2 class="order-title">Оформление заказа</h2>
    </div>

    <!-- Инфо о туре -->
    <div class="info-section tour-info">
      <h4><i class="pi pi-map"></i> Информация о туре</h4>
      <div class="tour-name">{{tour?.name}}</div>
    </div>

    <form [formGroup]="userForm" class="order-form">
      <h4><i class="pi pi-user"></i> Информация о покупателе</h4>
      
      <div class="form-grid">
  
        @for (fieldObj of userFormFiledsArr; track fieldObj.control) {
          <ng-container 
            [ngTemplateOutlet]="formField" 
            [ngTemplateOutletContext]="{ 
              control: fieldObj.control, 
              label: fieldObj.label, 
              placeholder: fieldObj.placeHolder 
            }">
          </ng-container>
        }


        <div class="field">
          <label for="birthDate">Дата рождения</label>
          <p-datepicker id="birthDate" formControlName="birthDate" [showIcon]="true" placeholder="дд.мм.гггг" styleClass="w-full"></p-datepicker>
        </div>

        <div class="field">
          <label for="age">Возраст</label>
          <p-inputNumber id="age" formControlName="age" [showButtons]="true" [min]="0" buttonLayout="stacked" styleClass="w-full"></p-inputNumber>
        </div>
      </div>

      <div class="form-footer" style="margin-top: 2rem;">
        <p-button
          (onClick)="initOrder()"
          label="Сформировать заказ"
          styleClass="p-button-raised p-button-success confirm-btn"
          [disabled]="!userForm.valid">
        </p-button>
      </div>
    </form>
  </div>
</div>

<!-- Это шаблон для текстовых полей -->

<ng-template #formField let-control="control" let-label="label" let-placeholder="placeholder">
  <div [formGroup]="userForm" class="field">
    <label [attr.for]="control">{{label}}</label>
    <input 
      type="text" 
      [id]="control" 
      pInputText 
      [formControlName]="control" 
      [placeholder]="placeholder || ''">
  </div>
</ng-template>
